app/public/schemas/anexo-rfc-1.2.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:t="http://www.gep.msess.gov.pt/sguri/tipos_comuns"
           xmlns="http://www.gep.msess.gov.pt/sguri/ru/anexo_rfc"
           targetNamespace="http://www.gep.msess.gov.pt/sguri/ru/anexo_rfc"
           elementFormDefault="qualified"
           version="1.2.14">
    <xs:import namespace="http://www.gep.msess.gov.pt/sguri/tipos_comuns" schemaLocation="tipos-comuns-1.3.14.xsd"/>
    <xs:element name="anexo_rfc" type="anexo_rfcType"/>
    <xs:complexType name="anexo_rfcType">
        <xs:sequence>
            <!-- I - ENTIDADE EMPREGADORA  -->
            <xs:element name="nome_entidade" type="t:max70Type">
                <xs:annotation>
                    <xs:documentation>I - Nome ou Designação social</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exist_trabalhadores" type="t:choiceType">
                <xs:annotation>
                    <xs:documentation>I - 1. Existiram trabalhadores ao serviço em algum período do ano de referência do
                        relatório?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dados_rfc" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cae_31Dez" type="t:caeType">
                            <xs:annotation>
                                <xs:documentation>I - 2. Actividade económica principal (CAE) da Entidade empregadora em
                                    31 de Dezembro
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="formacoes">
                            <xs:annotation>
                                <xs:documentation>II - Formações.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="formacao" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="area_educacao">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 7. Área de educação/formação da acção.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required"
                                                                              fixed="RU_AREAFORM" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 30 - Área de
                                                                            educação/formação da acção.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="modalidade">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 8. Modalidade da formação.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required" fixed="RU_MODAL"
                                                                              type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 31 - Modalidade da
                                                                            formação.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="duracao_accao" type="t:num4Type">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 10. Duração da acção.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="entidade_formadora">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 12. Entidade Formadora.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required"
                                                                              fixed="RU_ENTFORM" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 34 - Entidade
                                                                            Formadora.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="qualificacao">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 14. Nível de qualificação da formação.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required"
                                                                              fixed="RU_QUALIF" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 35 - Nível de
                                                                            qualificação da formação.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="trabalhadores">
                            <xs:annotation>
                                <xs:documentation>II - TRABALHADORES.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="trabalhador" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <!-- II - 2. Regime de reforma aplicado (de Segurança Social ou outro). -->
                                                <xs:element name="ident_reg_apli">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 2.1 Identificação do Regime Aplicado.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required"
                                                                              fixed="RU_REREAP" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 11 - Regime de
                                                                            Reforma Aplicado.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="niss" type="t:nissWorkerType">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 2.2 Número de Identificação da Segurança
                                                            Social ou equiparado (NISS).
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="nome" type="t:max70Type">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 3. Nome</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="situacao_freq">
                                                    <xs:annotation>
                                                        <xs:documentation>II - 4. Situação face à frequência de formação
                                                            profissional.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="t:codigoType">
                                                                <xs:attribute name="tbl" use="required"
                                                                              fixed="RU_SITFREQ" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>TABELA Nº 28 - Situação face à
                                                                            frequência de formação profissional ou
                                                                            equivalente.
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="registos" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="registo" minOccurs="1"
                                                                        maxOccurs="unbounded">
                                                                <xs:annotation>
                                                                    <xs:documentation>II - Registo dos trabalhadores em
                                                                        formações profissional.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="id_formacao_registo"
                                                                                    type="t:num5Type">
                                                                            <xs:annotation>
                                                                                <xs:documentation>II - Identificação da
                                                                                    Formação.
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="iniciativa">
                                                                            <xs:annotation>
                                                                                <xs:documentation>II - 9. Iniciativa da
                                                                                    formação.
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:restriction base="t:codigoType">
                                                                                        <xs:attribute name="tbl"
                                                                                                      use="required"
                                                                                                      fixed="RU_INICIAT"
                                                                                                      type="xs:string">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>TABELA
                                                                                                    Nº 32 - Iniciativa
                                                                                                    da formação.
                                                                                                </xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:attribute>
                                                                                    </xs:restriction>
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element name="horario_formacao">
                                                                            <xs:annotation>
                                                                                <xs:documentation>II - 11. Horário da
                                                                                    formação.
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:restriction base="t:codigoType">
                                                                                        <xs:attribute name="tbl"
                                                                                                      use="required"
                                                                                                      fixed="RU_HORFORM"
                                                                                                      type="xs:string">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>TABELA
                                                                                                    Nº 33 - Horário da
                                                                                                    formação.
                                                                                                </xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:attribute>
                                                                                    </xs:restriction>
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element name="diploma">
                                                                            <xs:annotation>
                                                                                <xs:documentation>II - 13. Tipo de
                                                                                    Certificado/Diploma.
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:restriction base="t:codigoType">
                                                                                        <xs:attribute name="tbl"
                                                                                                      use="required"
                                                                                                      fixed="RU_DIPLOM"
                                                                                                      type="xs:string">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>TABELA
                                                                                                    Nº 35 - Tipo de
                                                                                                    Certificado/Diploma.
                                                                                                </xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:attribute>
                                                                                    </xs:restriction>
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element name="periodos_ref">
                                                                            <xs:annotation>
                                                                                <xs:documentation>II - 6. Período de
                                                                                    referência da formação.
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="periodo_ref"
                                                                                                maxOccurs="unbounded">
                                                                                        <xs:complexType>
                                                                                            <xs:simpleContent>
                                                                                                <xs:restriction
                                                                                                        base="t:codigoType">
                                                                                                    <xs:attribute
                                                                                                            name="tbl"
                                                                                                            use="required"
                                                                                                            fixed="RU_PEDREF"
                                                                                                            type="xs:string">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>
                                                                                                                TABELA
                                                                                                                Nº 29 -
                                                                                                                Período
                                                                                                                de
                                                                                                                referência
                                                                                                                da
                                                                                                                formação.
                                                                                                            </xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:attribute>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="entidade" use="required" type="xs:long"/>
        <xs:attribute name="ano" use="required" type="t:yearType">
            <xs:annotation>
                <xs:documentation>Ano de referência</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XML_DATA" use="required" fixed="1.2.14" type="xs:string">
            <xs:annotation>
                <xs:documentation>Versão da estrutura XML.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>