app/public/schemas/relatorio-ips-3.2.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ips="http://www.gep.msess.gov.pt/sguri/ru/anexo_ips"
           xmlns:t="http://www.gep.msess.gov.pt/sguri/tipos_comuns"
           xmlns="http://www.gep.msess.gov.pt/sguri/ru"
           targetNamespace="http://www.gep.msess.gov.pt/sguri/ru"
           elementFormDefault="qualified"
           version="3.2.14">
    <xs:import namespace="http://www.gep.msess.gov.pt/sguri/ru/anexo_ips" schemaLocation="anexo-ips-1.0.14.xsd"/>
    <xs:import namespace="http://www.gep.msess.gov.pt/sguri/tipos_comuns" schemaLocation="tipos-comuns-1.3.14.xsd"/>
    <xs:element name="relatorio_unico" type="relatorio_unicoType"/>
    <xs:complexType name="relatorio_unicoType">
        <xs:sequence>
            <xs:element name="header" type="headerType"/>
            <xs:element name="body" type="bodyType"/>
        </xs:sequence>
        <xs:attribute name="XML_DATA" use="required" fixed="3.2.14" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element name="aplicacao" type="aplicacaoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="aplicacaoType">
        <xs:sequence>
            <xs:element name="nome" type="t:minType"/>
            <xs:element name="versao" type="t:minType"/>
            <xs:element name="empresa" type="t:minType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bodyType">
        <xs:sequence>
            <xs:element name="anexos" type="anexosType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="anexosType">
        <xs:sequence>
            <xs:element ref="ips:anexo_ips"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>